.NoteListMain li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    
    
  }

  
  .NoteListMainAddButton {
    max-width: 380px;
    margin: 0 10px;
  }
  
  .addNoteButton {
    margin: 0 auto 20px;
  }
  .addNoteButton:hover {
    background-color: #29862e;
    color: white;
  }